[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=epoch-calc
Icon=harbour-epoch-calc
Exec=harbour-epoch-calc

[X-Sailjail]
OrganizationName=org.adekker
ApplicationName=epoch-calc
Permissions=
